.user-profile-card {
  width: 400px;
  height: 200px;
}

.user-profile-page {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 80vh;
}

.user-profile-card-header,
.user-profile-actions {
  display: flex;
  justify-content: center;
}
